<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
		
	<title>PaulRex's Podcasts</title>

</head>

<body>
	
<div id="header">
	
	<h1>PaulRex's Podcasts</h1>

	<div class="buttons">
		<button class="buttons donate">Donate</button>
		<button class="buttons contact">Contact</button>
	</div>
</div>

<div class="clear"></div>

<div id="page-wrap">

	<div id="podcasts">	
		
		<div class="originz column">
			<img class="originz image" src="#">
			<h2>Originz</h2>
			<p class="originz content">TEXT HERE</p>
		</div>	

		<div class="mysteries-abound column">
			<img class="mysteries-abound image" src="#">	
			<h2>Mysteries Abound</h2>	
			<p class="mysteries-abound content">TEXT HERE</p>
		</div>	
		
		<div class="bizarre-bazaar column">
			<img class="bizarre-bazaar image" src="#">
			<h2>Bizarre Bazaar</h2>
			<p class="bizarre-bazaar content">TEXT HERE</p>
		</div>	
	</div>
</div>

<div id="footer">
	<p>FOOTER</p>
</div>


<script type="text/javascript" src="javascript/main.js"></script>
</body>
</html>