<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Varela" rel="stylesheet">
		<title>PaulRex's Podcasts</title>
</head>
<body>

<div class="header">
	<div class="images">
		<div class="originz-image">
			<img src="http://www.originz.info/Originz/Originz_Show_Notes/Originz_Show_Notes_files/shapeimage_3.png" height: 211px; width: 211px>
		</div>
		<div class="mysteries-abound-image">
			<img src="http://www.originz.info/Originz/Listen_to_Latest_Shows_files/mysteriesabounddef.jpg">
		</div>
		<div class="bizarre-bazaar-image">
			<img src="http://www.originz.info/Originz/Listen_to_Latest_Shows_files/BBlogo.jpg">
		</div>
	</div>	
		<div class="donate-button">Donate</div>
		<div class="contact-button">Contact</div>
</div>

<div class="content">
	<div class="originz-content">
	<p>Some Text Goes Here</p>
	</div>
	<div class="mysteries-abound-content">
	<p>Some Text Goes Here</p>
	</div>
	<div class="bizarre-bazaar-content">
	<p>Some Text Goes Here</p>
	</div>
</div>	

<div class="footer">Dog Info Here</div>


<script type="text/javascript" src="javascript/main.js"></script>
</body>
</html>