<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<title>PaulRex's Podcasts</title>
	</head>
	<body>
		<nav id="top-bar">
			<h1>PaulRex's Podcasts</h1>

			<a id="button-donate" class="button">Donate</a>
			<a id="button-contact" class="button">Contact</a>
		</nav>

		<header id="header-columns">
			<section class="content">
				<div id="originz-column" class="column">
					<img src="#">
					<h3>Originz</h3>
				</div>

				<div id="mysteries-abound" class="column">
					<img src="#">
					<h3>Mysteries Abound</h3>
				</div>

				<div id="bizarre-bazaar" class="column">
					<img src="#">
					<h3>Bizarre Bazaar</h3>
				</div>
				<div class="clear"></div>
			</section>
		</header>

		<section id="main-content">
			<section class="content">
				<div class="column">Donec ex enim, commodo a odio ut, hendrerit ullamcorper est. Pellentesque tempor tempus metus vel cursus. Quisque rutrum fermentum sem, non vehicula sapien dignissim in. Etiam sit amet viverra lectus. Mauris lacinia libero non tortor fermentum consectetur in luctus sem. Duis eleifend porttitor libero fringilla sodales. Morbi mattis quis lacus id feugiat. Suspendisse mi est, varius nec nulla at, sodales rutrum tortor. Curabitur sit amet turpis sed odio pellentesque pretium nec nec erat. Aliquam posuere est id mattis sagittis. Nam imperdiet semper felis, et scelerisque purus ullamcorper eget.</div>
				<div class="column">Donec ex enim, commodo a odio ut, hendrerit ullamcorper est. Pellentesque tempor tempus metus vel cursus. Quisque rutrum fermentum sem, non vehicula sapien dignissim in. Etiam sit amet viverra lectus. Mauris lacinia libero non tortor fermentum consectetur in luctus sem. Duis eleifend porttitor libero fringilla sodales. Morbi mattis quis lacus id feugiat. Suspendisse mi est, varius nec nulla at, sodales rutrum tortor. Curabitur sit amet turpis sed odio pellentesque pretium nec nec erat. Aliquam posuere est id mattis sagittis. Nam imperdiet semper felis, et scelerisque purus ullamcorper eget.</div>
				<div class="column">Donec ex enim, commodo a odio ut, hendrerit ullamcorper est. Pellentesque tempor tempus metus vel cursus. Quisque rutrum fermentum sem, non vehicula sapien dignissim in. Etiam sit amet viverra lectus. Mauris lacinia libero non tortor fermentum consectetur in luctus sem. Duis eleifend porttitor libero fringilla sodales. Morbi mattis quis lacus id feugiat. Suspendisse mi est, varius nec nulla at, sodales rutrum tortor. Curabitur sit amet turpis sed odio pellentesque pretium nec nec erat. Aliquam posuere est id mattis sagittis. Nam imperdiet semper felis, et scelerisque purus ullamcorper eget.</div>
				<div class="clear"></div>
			</section>
		</section>

		<footer>
			<span>FOOTER</span>
		</footer>

		<script type="text/javascript" src="javascript/main.js"></script>
	</body>
</html>