body {
	padding: 0px;
	margin: auto 0px;
	background-color: #343638;
	color: white;
	font-family: Avenir, sans-serif;
}

#header {
	width: 100%;
}

h1 { text-align: center; margin-top: 10px; }
h2 { text-align: center; }

.clear { clear: both; }

#page-wrap {
	width: 1000px;
}

#podcasts {
	width: 900px;
	margin: auto 0px;
}

	.column {
		width: 300px;
		float: left;
		margin: 15px;
	}

		.image {
			width: 250px;
		}


#footer {
	margin-top: 300px;
}